@media screen and (max-width: 768px) {
  .nav__itemsContainer {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu__box {
    display: none !important;
  }

  .mobile__menu.active {
    display: none;
  }

  .page__background {
    display: none;
  }

  .home {
    .desc {
      p {
        font-size: 1.3rem;
      }

      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 2rem;
      }
    }

    &__buttonsArea {
      .buttons__container {
        a {
          font-size: 1.1rem;
        }
      }
    }
  }

  .about {
    h1 {
      font-size: 2rem;
    }

    &__container {
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;

      .about__description {
        margin: 5rem 0;

        h3 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.2rem;
          margin: 2rem 0;
        }
      }

      .about__tools {
        margin: 5rem 0;

        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .projects {
    h1 {
      margin-bottom: 5rem;
    }
  }

  .project {
    flex-direction: row !important;

    &__image {
      height: 400px !important;
    }

    .project__container {
      margin: 0 !important;
      margin-left: -100px !important;
    }

    .secondPContainer {
      margin: 0 !important;
      margin-right: -100px !important;
    }
  }

  .contact__container {
    h1 {
      font-size: 2rem !important;
      margin-bottom: 5rem !important;
    }
  }

  .contact__formBox {
    grid-template-columns: 1fr 1fr !important;
    column-gap: 5rem;

    h3 {
      font-size: 1.5rem;
    }

    button {
      i,
      p {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .contact__details {
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .style__mainContainer {
    padding-top: $spacing-top !important;
  }

  .links__area {
    margin: 1rem 0 !important;
  }
}

@media screen and (max-width: 300px) {
  section {
    padding: 35px 10px 0 10px !important;
  }

  .style__mainContainer {
    padding-top: 30px !important;
  }

  .desc {
    font-size: 0.8rem;
  }

  .scroll__down {
    bottom: 0 !important;
  }

  .buttons__container {
    grid-template-columns: 1fr !important;
    row-gap: 1rem !important;
  }

  .itemDetails__container {
    font-size: 0.9rem !important;
  }

  .project__container {
    margin-bottom: 1rem;
  }

  footer {
    margin: 1rem 0 !important;
  }
}
